* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(235, 21%, 11%);
}
body > div {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 180px;
  z-index: 0;
}

.header {
  width: 100%;
  padding: 32px 20px 0px 20px;
  margin: 0 auto;
  max-width: 1240px;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  justify-self: center;
}
.header__title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 5px;
  color: white;
}
.header__toggle {
  background-image: url("../images/icon-moon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 25px;
  height: 25px;
}

@media (min-width: 640px) {
  body > div {
    height: 320px;
    background-image: url("../images/bg-desktop-dark.jpg");
  }
  .header {
    height: 150px;
    padding-top: 60px;
  }
  .header__title {
    font-size: 32px;
  }
}
